name: deploy health-check api

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    container:
      image: node:20
    steps:
      - name: Install PNPM
        uses: pnpm/action-setup@v3
        with:
          version: 8
          run_install: false

      - name: Checkout
        uses: actions/checkout@v4
        with:
          node-version: 20

      - run: pnpm install
      - run: pnpm run build
